/* #4682A9
#749BC2
#91C8E4
#F6F4EB */

body {
  background: #F6F4EB;
  cursor: url("logo.png"), auto;
}
.kjshd {
  color: #F6F4EB;
  color: #91C8E4;
  color: #749BC2;
  color: #4682A9;
}

.hide {
  background-image: url('images/03.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 30em;
}

.h:hover {
  color: #F48484;

}

.t:hover {
  color: #86A3B8;

}

.o:hover {
  color: #BA94D1;

}

.y:hover {
  color: #47A992;

}

.yy:hover {
  color: #A78295;

}

.i:hover {
  color: #435B66;

}

.b:hover {
  color: #EA5455;

}



.dropdown-menu {
  background: #f6f4eb81;
}

.abt {
  background: #4682A9;
  border-radius: 0px 0px 200px 0px;
}

.logos img {
  width: 80px;
}

.logos:hover {
  box-shadow: 12px 12px 20px #bebebe,
    -12px -12px 20px #ffffff;

}

.nav-link {
  color: #377dc7cb;
  padding-bottom: 2px;
  transition: all .3s ease-in-out;
}

.nav-link::before {
  border-bottom: none;
  transition: width 700ms ease-in-out;
}

.nav-link:hover::before {
  border-bottom: #4682A9;
}

h4,
p,
h2 {
  user-select: none;
}


/* form */


.inputbox {
  position: relative;
  width: 396px;
  margin-top: 10px;
  cursor: pointer;

}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
  cursor: pointer;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #605f5f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
  cursor: pointer;
}

.inputbox input:valid~span,
.inputbox input:focus~span {
  color: #fefefe;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #f7f7f7;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
  cursor: pointer;
}

.inputbox input:valid~i,
.inputbox input:focus~i {
  height: 44px;
}


/* about */

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #c6f0f7 0%, #ffffff 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}

h1 span {
  font-size: 100px;
}

@media (max-width: 1600px) {
  .resume {
    margin-top: 15em;
  }

  .abt-h {
    display: none;
  }

  .resume {
    margin-top: 13em;
  }

  .hide {
    display: hide;
    height: 0;
  }
}


@media (max-width: 991px) {
  .mainimg {
    width: 1px;


  }

  h1 span {
    font-size: 60px;
  }

  .card {
    display: none;
  }

  .abt-h {
    display: block;
  }

  div hr {
    display: none;
  }

  .resume {
    margin-top: 3em;
  }
  .hide {
    display: block;
    height: 500px;
  }

}

@media (max-width: 756px) {
  .limg {
    width: 400px;
  }

  .resume {
    margin-top: 3em;
  }

  h4 {
    font-size: 15px;
  }

  
}

@media (max-width: 556px) {
  h1 span {
    font-size: 40px;
  }

  .inputbox {
    width: 250px;
  }
}

@media(max-width: 350px) {
  .limg {
    width: 250px;
  }

  .bimg {
    width: 200px;
  }

  .inputbox {
    width: 200px;
  }

  .resume {
    margin-top: 1em;
  }
}


.limg:hover {
  transform: scale(1.05);
  transition: 1s ease;
}

.frame {
  border-radius: var(--radius-15);
  overflow: hidden;
}